@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
  --primaryColor: #5fb7ea;
  --primaryRGBA: rgba(0,0,0,0.3);
  --mainGrey: #fafafa;
  --darkGrey: #5f5e5e;
  --mainBlack: #222;
  --mainWhite: 	#FFFFFF;
  --mainTransition: all 0.3s  ease-in-out;
  --mainSpacing:0.3rem
}
.text-title{
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  text-orientation: capitalize;
}

.text-main{
  color: var(--primaryColor)
}

body{
  font-family: 'Montserrat', sans-serif !important;
  background: var(--mainGrey) !important;
  color: var(--mainBlack);
}
.main-link{
  padding: 0.5rem 1rem;
  background: var(--primaryColor);
  color: var(--mainWhite);
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  outline: 2px solid var(--primaryColor);
  outline-offset: 4px;
  border: none;
  transition: var(--mainTransition);

}
.main-link:hover{
  background: var(--mainGrey);
  text-decoration: none;
  color: var(--primaryColor);
  outline-color:var(--darkGrey) ;

}
body{
  overflow-x: hidden !important;
}